body {

  font-family: Arial;
  text-align: center;
  background-color: #f2f2f2;

}

.card {

  border: 1px solid black;
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  width: 250px;
  border-radius: 10px;

}